.rightPage, .leftPage {
	min-height: 300px;
}
.singleWrap {
	min-height: 100vh;
}
.rightPage {
	padding: 30px;
}
@media (min-width: 992px) {
	.leftPage, .singleWrap, .rightPage{
		min-height: 100vh;
	}
	.leftPage {
		padding: 1px;
	}
}
@media (min-width: 1200px) {
	.rightPage {
		padding: 30px 20px 30px 40px;
	}
	.leftPage {
		padding: 80px;
		border-right: 1px solid rgba(0,0,0,0.05);
	}
	.rightContent {
		padding: 30px 50px;
	}
}
.pd-tb-mini {
	padding-top: 50px;
	padding-bottom: 50px;
}
.leftPage {
	background-size: cover;
}
.mr-t-20 { margin-top: 20px; }
.mr-t-30 { margin-top: 30px; }

.mr-auto { margin-left: auto; margin-right: auto; }
.mr-0 { margin: 0px; }
.mr-5  { margin: 5px; }
.mr-10  { margin: 10px; }
.mr-20  { margin: 20px; }
.mr-30  { margin: 30px; }

.pd-0  { padding: 0; }
.pd-10  { padding: 10px; }
.pd-20  { padding: 20px; }
.pd-30  { padding: 30px; }

.leftPage, .singleWrap, .rightPage{
	display: flex;
	align-items: center;
	justify-content: center;
}
.payLogo img {
	border-radius: 3px;
}
.payCont {
	border: 1px solid #aaa;
	padding: 30px;
	border-radius: 5px;
	background: #fff;
}
.row.sm-gutter {
    margin-right: -5px;
    margin-left: -5px;
}
.row.sm-gutter > [class^="col-"],
.row.sm-gutter > [class*=" col-"] {
    padding-right: 5px;
    padding-left: 5px;
}
.text-white { color: #fff; }
.w-100 { width: 100% !important; }
hr { margin: 30px 0; }